.green {
background-color: green;
height: 250px;
}

.yellow {
background-color: yellow;
height: 250px;
}

.red {
background-color: red;
height: 250px;
}

.grey {
background-color: grey;
height: 250px;
}

.orange {
background-color: orange;
height: 250px;
}